@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;600;700&display=swap');


 :root{
    /** Colors */
    --gold:#D2AE6D;
    --black:#000000;
    --white:#ffffff;


    /** Fonts */

    --ff-montserrat:'Montserrat', sans-serif;

    /** font size */

    --fs-1: 36px;
    --fs-2: 28px;
    --fs-3: 20px;
    --fs-4: 17px;
    --fs-5: 16px;
    --fs-6: 15px;
    --fs-7: 14px;

    /** font weight */
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;

    /** transition */
    --transition: 0.25s ease;

    /** spacing */
    --section-padding: 80px;
 }

 *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 li{
    list-style: none;
 }

 a{
    text-decoration: none;
 }

 a,
 img,
 span,
 input,
 label,
 button,
 i,
 textarea{
    display: block;
 }
 button{
    border: none;
    background: none;
    font: inherit;
    cursor: pointer;
 }

 input,
 textarea{
    border: none;
    font: inherit;
    width: 100%;
 }

 html{
    font-family: var(--ff-montserrat);
    scroll-behavior: smooth;
 }

 body{
    background: var(--black);
 }
 .container{
    padding-inline:15px;
 }
 .btn{
    font-size: var(--fs-6);
    font-weight: var(--fw-700);
    padding: 10px 20px;
    border-radius: 5px;
    transition: var(--transition);
}
.btn:is(:hover, :focus){
    transform: translateY(-2px);
}
.btn-primary{
    background: var(--gold);
    color: var(--black);
}
.btn-outline{
    border: 1px solid var(--gold);
    color: var(--gold);
}
.btn-outline:is(:hover, :focus){
    background: var(--gold);
    color: var(--black);
}
.btn-secondary{
    background: var(--black);
    color: var(--gold);
    border: 1px solid var(--gold);
}
.btn-secondary:is(:hover, :focus){
    background: var(--gold);
    color: var(--black);
}
.section-title{
    text-align: center;
}
.section-text{
    color: var(--white);
    transition: var(--transition);
    font-size: var(--fs-6);
    text-align: center;
    line-height: 1.7;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-block: 20px;
    height: 80px;
    overflow: hidden;
    transition: var(--transition);
    z-index: 4;
    background: var(--black);
}
.header.active{
    height: 330px;
} 
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-toggle-btn{
    font-size: 25px;
    color: var(--white);
}
.navbar{
    position: absolute;
    width: 100%;
    top: 80px;
    left: 0;
    padding-inline: 35px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
}
.header.active .navbar{
    visibility: visible;
    opacity: 1;
}

.navbar-link,
.header-action-link{
    color: var(--white);
    font-size: var(--fs-6);
    padding-block: 8px;
}
:is(.navbar-link, .header-action-link):is(:hover, :focus){
    color: var(--gold);
}

/***********LOGIN FORM***********/

.login-form{
    padding-block: var(--section-padding);
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.form-box.login{
    width: 85%;
}
h2{
    text-align: center;
    font-size:26px;
    color: var(--white);
    margin-bottom: 50px;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid white;
    margin: 30px 0px;
}
.input-box label{
    position: absolute;
    top: 5%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 13px;
    color: var(--white);
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
    color: var(--gold);
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 12px;
    color: white;
    font-weight: 600;
    padding: 5px;
}
.input-box i{
    position: absolute;
    right: 8px;
    font-size: 12px;
    line-height: 60px;
    color: var(--white);
}
.remember-forgot{
    font-size: 12px;
    color: white;
    margin: 15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot a{
    color: white;
    text-decoration: none;
}
.remember-forgot label input{
    display: inline-flex;
    justify-content: space-between;
    width: 20px;
    text-align: left;
    accent-color: var(--gold);
    margin-right: 3px;
}
.remember-forgot a:hover{
    text-decoration: underline;
    color: var(--gold);
}
.btn{
    width: 100%;
    height: 40px;
    background: var(--gold);
    color: var(--white);
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 19px;
    font-weight: 500;
    margin-top: 40px;
}
.btn:hover{
    color:rgb(37, 33, 33);
    scale: 1.02;
}
.login-register{
    font-size: 12px;
    line-height: 1.7;
    color: white;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    
}
.login-register p a:hover{
    text-decoration: underline;
    color: var(--gold);
}
.hero-banner img{
    width:100%;
    image-resolution: from-image 300dpi;
    display: none;
}

/*********FOOTER**********/

footer{
    color: var(--white);
    transition: var(--transition);
}
.footer-top{
    padding-block: var(--section-padding);
}
.footer-brand{
    margin-bottom:60px;
}
footer .logo{
    margin-bottom: 25px;
}
.footer-text{
    font-size: var(--fs-6);
    line-height: 1.8;
    margin-bottom: 25px;
}
.social-list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.social-link{
    color: var(--white);
    font-size: 25px;
    transition: var(--transition);
}
.footer-link-box{
    display: grid;
    gap: 50px;
}
.footer-list li:first-child{
    margin-bottom: 20px;
}
.footer-item-title{
    color: var(--white);
    font-weight: var(--fw-700);
}
.footer-link{
    color: var(--white);
    font-size: var(--fs-6);
    transition: var(--transition);
    padding-block: 10px;
}
.footer-link:is(:hover, :focus){
    transform: translateX(5px);
}
.footer-bottom{
    text-align: center;
    padding-block: 20px;
}
.copyright a{
    display: inline-block;
    color: var(--gold);
    transition: var(--transition);
}
.copyright a:is(:hover, :focus){
    color: rgb(230, 206, 176);
}

/*************MEDIA QUERIES ****************/

/****responsive for larger than 450px screens****/

@media (min-width:450px){
    .container{
        max-width: 440px;
    }
    .login-form{
        width: 80%;
        margin: auto;
        margin-top: 50px;
     }
    .input-box i{
        font-size: 15px;
     }
}

/****responsive for larger than 500px screens****/


@media (min-width:500px){
    .container{
        max-width: 500px;
    }
    .login-form{
        width: 80%;
        margin: auto;
        margin-top: 50px;
     }
}

/****responsive for larger than 576px screens****/


@media (min-width:576px){
    .container{
        max-width: 570px;
    }
    .login-form{
       width: 80%;
       margin: auto;
       margin-top: 50px;
    }
}

/****responsive for larger than 640px screens****/


@media (min-width:640px){
    .container{
        max-width: 640px;
    }
    .login-form{
        width: 80%;
        margin: auto;
        margin-top: 50px;
     }
}
/****responsive for larger than 720px screens****/


@media (min-width:720px){
    .container{
        max-width: 720px;
    }
    .login-form{
        width: 80%;
        margin: auto;
        margin-top: 50px;
     }
}

/****responsive for larger than 768px screens****/
@media (min-width:768px){
    .container{
        max-width: 768px;
    }
    .login-form{
        margin-top: 50px;
       margin-left: 20px;
       max-width: 400px;
     }
    .hero-banner img{
    max-width: 300px;
    margin: auto;
    display: flex;
    position: absolute;
    left: 450px;
    top: 200px;
     }
}

/****responsive for larger than 850px screens****/
@media (min-width:850px){
    .container{
        max-width: 850px;
    }
    .login-form{
        margin-top: 50px;
       margin-left: 20px;
       max-width: 400px;
    }
    .hero-banner img{
    max-width: 400px;
    margin: auto;
    display: flex;
    position: absolute;
    left: 450px;
    top: 200px;
     }
     .footer-link-box{
        grid-template-columns: repeat(3,1fr);
     }
}
/****responsive for larger than 900px screens****/
@media (min-width:900px){
    .container{
        max-width: 900px;
    }
    .login-form{
        margin-top: 100px;
       margin-left: 20px;
       max-width: 450px;
    }
    .hero-banner img{
    max-width: 400px;
    margin: auto;
    display: flex;
    position: absolute;
    left: 470px;
    top: 250px;
     }

      /**********HEADER******/

    .header{
        overflow: visible;
        padding-block: 0;
        height: unset;
    }
    .header.active{
        height: unset;
    }
    .menu-toggle-btn{
        display: none;
    }
    .navbar{
        position: static;
        visibility: visible;
        opacity: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 0;
    }
    .navbar-list{
        display: flex;
        justify-content: center;
        align-items: center;
        width: max-content;
        gap: 40px;
        margin-inline: auto;
    }
    .header-actions{
        display: flex;
        align-items: center;
        gap: 40px;
    }
    .navbar-link,
    .header-action-link{
        padding-block: 25px;
    }

     /********FOOTER********/



     .footer-top .container{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 50px;
    }
    .footer-brand{
        margin-bottom: 0;
        max-width: 300px;
    }
    .footer-list {
        width: 140px;
    }
    .footer-link-box{
        grid-template-columns: repeat(3,1fr);
     }
}

/****responsive for larger than 992px screens****/
@media (min-width:992px){
    /**********REUSED STYLES*******/
 
    .container{
     max-width: 992px;
    }
    .login-form{
        margin-top: 100px;
       margin-left: 20px;
       max-width: 470px;
    }
    .hero-banner img{
    max-width: 470px;
    margin: auto;
    display: flex;
    position: absolute;
    left: 490px;
    top: 250px;
     }
 
    /**************FOOTER*********/
 
    .footer-link-box{
     margin-right: 40px;
    }
    .footer-list{
     width: 170px;
    }
}

/****responsive for larger than 1100px screens****/
@media (min-width:1100px){
    .container{
        max-width: 1100px;
       }
       .login-form{
          margin-top: 100px;
          margin-left: 20px;
          max-width: 550px;
       }
       .hero-banner img{
       max-width: 470px;
       margin: auto;
       display: flex;
       position: absolute;
       left: 570px;
       top: 250px;
        }
    .footer-brand{
        margin-left: 50px;
    }
}

/****responsive for larger than 1440px screens****/
@media (min-width:1440px){
    .container{
        max-width: 1440px;
       }

    .login-form{
        margin-top: 100px;
       margin-left: 200px;
       max-width: 600px;
    }
    .hero-banner img{
    max-width: 470px;
    margin: auto;
    display: flex;
    position: absolute;
    left: 900px;
    top: 250px;
     }
}
